extends layout

block content
  h1= title
  p Welcome to #{title}
  p
    a(href=oauthUrl)  auth
  form(action='subscribe')
    input(type='text' placeholder='tag')
    input(type='submit')

  div#live
  div#views #{views}
  div#status