extends layout

block content


  div#live

  div.left-pane
    div.photolist
      div(ng-repeat="photo in photos | limitTo:quantity").photo.animate-repeat
          img(ng-src="{{photo.images.thumbnail.url}}" ng-click="setCurrentPhoto(photo)")
      p Wait a little, photos are coming...
  div.right-pane(ng-show="currentPhoto.images")
    div.image
      div.image-cont
        img(ng-src="{{currentPhoto.images.standard_resolution.url}}")
        div.tags
          span(ng-repeat="tag in currentPhoto.tags").
             \#{{tag}},&nbsp;
      div.user
        a(ng-href="{{currentPhoto.link}}" target="_blank")
          img(ng-src="{{currentPhoto.user.profile_picture}}")

        div
          a(ng-href="//instagram.com/{{currentPhoto.user.username}}" target="_blank") {{currentPhoto.user.full_name}}
        div @{{currentPhoto.user.username}}
        div.likes
          i(class="fa fa-heart-o" ng-click="likePhoto(currentPhoto)") &nbsp;
           {{currentPhoto.likes.count}}
        div.caption
           {{currentPhoto.caption.text}}

    div.comments
      div.comment(ng-repeat="comment in currentPhoto.comments.data")
        img(ng-src="{{comment.from.profile_picture}}")
        div.text {{comment.text}}
      div.leave
        img
        textarea#commentText(placeholder='is not done yet...') {{currentCommentText}}



- sessionDetails.stringify()

