extends layout

block content
  p #Boston Live Instagram
    span /
    span#views #{views}
    span /
    span#status
    span /
    a(href='https://twitter.com/marketmesuite') follow us

  div#live
